<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.gade">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ues1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ues1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndexActivity" />
        <activity android:name=".MainActivity$AdminActivity" />
        <activity android:name=".view.UsersActivity" />
        <activity android:name=".view.NewUserActivity" />
        <activity android:name=".UsuarioNormal.SolicitarLocalActivity" />
        <activity android:name=".UsuarioNormal.ModificarReservaActivity" />
        <activity android:name=".UsuarioNormal.ConsultarReservaActivity" />
        <activity android:name=".UsuarioNormal.EliminarReservaActivity" />
        <activity android:name=".view.VerUserActivity" />
        <activity android:name=".UsuarioNormal.GestionarAdminActivity" />
        <activity android:name=".UsuarioNormal.ConsultarAdminActivity" />
        <activity android:name=".UsuarioNormal.GestionarLocalActivity" />
        <activity android:name=".UsuarioNormal.ConsultarLocalesActivity" />
        <activity android:name=".UsuarioNormal.EscuelaGestionarActivity" />
        <activity android:name=".UsuarioNormal.EstudianteGestionarActivity" />
        <activity android:name=".UsuarioNormal.GestionarHorarioActivity" />
        <activity android:name=".UsuarioNormal.InsertarHorarioActivity" />
        <activity android:name=".UsuarioNormal.ConsultarHorarioActivity" />
        <activity android:name=".UsuarioNormal.ActualizarHorarioActivity" />
        <activity android:name=".UsuarioNormal.EliminarHorarioActivity" />
        <activity android:name=".UsuarioNormal.MostrarHorarioActivity" />
        <activity android:name=".UsuarioNormal.MostrarCicloActivity" />
        <activity android:name=".UsuarioNormal.DocenteInsertarActivity" />
        <activity android:name=".UsuarioNormal.DocenteEliminarActivity" />
        <activity android:name=".UsuarioNormal.DocenteConsultarActivity" />
        <activity android:name=".UsuarioNormal.DocenteActualizarActivity" />
        <activity android:name=".UsuarioNormal.DocenteGestionarActivity" />
        <activity android:name=".UsuarioNormal.ActividadInsertarActivity" />
        <activity android:name=".UsuarioNormal.ActividadEliminarActivity" />
        <activity android:name=".UsuarioNormal.ActividadActualizarActivity" />
        <activity android:name=".UsuarioNormal.ActividadConsultarActivity" />
        <activity android:name=".UsuarioNormal.ActividadGestionarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividadInsertarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividadEliminarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividadActualizarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividadConsultarActivity" />
        <activity android:name=".UsuarioNormal.TipoActividadGestionarActivity" />
        <activity android:name=".UsuarioNormal.ParticipacionGestionarActivity" />
        <activity android:name=".UsuarioNormal.GestionarReservaActivity"></activity>
    </application>

</manifest>