<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.gade">

    <application
        android:allowBackup="true"
        android:icon="@drawable/andp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/andp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndexActivity" />
        <activity android:name=".MainActivity$AdminActivity" />
        <activity android:name=".view.UsersActivity" />
        <activity android:name=".view.NewUserActivity" />
        <activity android:name=".UsuarioNormal.SolicitarLocalActivity" />
        <activity android:name=".UsuarioNormal.ModificarReservaActivity" />
        <activity android:name=".UsuarioNormal.ConsultarReservaActivity" />
        <activity android:name=".UsuarioNormal.EliminarReservaActivity" />
        <activity android:name=".view.VerUserActivity" />
        <activity android:name=".UsuarioNormal.GestionarAdminActivity" />
        <activity android:name=".UsuarioNormal.ConsultarAdminActivity" />
        <activity android:name=".UsuarioNormal.GestionarLocalActivity" />
        <activity android:name=".UsuarioNormal.ConsultarLocalesActivity" />
        <activity android:name=".UsuarioNormal.EscuelaGestionarActivity"></activity>
    </application>

</manifest>